
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

p {
  color: black;
  font-family: verdana;
  font-size: 20px;
}

#id_para_um_h2 {
  background-color: black;
  color: rgba(0,255,0,0.4);
  opacity: 0.9;
  font-family: verdana;
}

#id_para_um_p {
  background-color: black;
  color: rgba(0,255,255);
  opacity: 0.7;
  font-family: verdana;
}

.diferentao {
  background-color: white;
  color: black;
  font-family: verdana;
  font-size: 120%;
}
